<?xml version="1.0" encoding="utf-8"?>
<UserSettingsDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="HP.MirrorTesting.BL.Data.xsd" objectID="0">
  <UserSettingsQualityCenterConnectionDefinition objectID="1">
    <Credentials objectID="2" type="HP.MirrorTesting.BL.Data.TestDefinitionData.RunDefinition.Host.CredentialsDefinition, HP.Sprinter.BL.Data">
      <EncryptedPassword></EncryptedPassword>
      <Username>kb_ray</Username>
      <FullUsername isNull="True" />
      <UserDomain isNull="True" />
    </Credentials>
    <Domain>DEFAULT_KNORR_BREMSE</Domain>
    <Project>KB_Functional_Testing_Design</Project>
    <ServerAddress>https://almknorrbremse126.saas.microfocus.com/qcbin/</ServerAddress>
    <ReconnectOnStartup>False</ReconnectOnStartup>
    <AttemptingToConnect>False</AttemptingToConnect>
    <EnableSSO>False</EnableSSO>
    <ServerHistory objectID="3">
      <Elements isCollection="True" />
    </ServerHistory>
  </UserSettingsQualityCenterConnectionDefinition>
  <UserSettingsTestDefinition objectID="4">
    <DefaultTestLocation>C:\Users\raysa\Documents\Sprinter\</DefaultTestLocation>
  </UserSettingsTestDefinition>
  <UserSettingsRunTimeDefinition objectID="5">
    <StepsAutoExpandMode>True</StepsAutoExpandMode>
    <ParametersViewMode>False</ParametersViewMode>
  </UserSettingsRunTimeDefinition>
  <UserSettingsComparisonDefinition objectID="6">
    <SnapshotTime>0</SnapshotTime>
    <IsObjectsPositionToleranceEnabled>True</IsObjectsPositionToleranceEnabled>
    <ObjectsPositionTolerance>30</ObjectsPositionTolerance>
    <IsObjectsSizeToleranceEnabled>True</IsObjectsSizeToleranceEnabled>
    <ObjectsSizeTolerance>30</ObjectsSizeTolerance>
    <IgnoreLayoutResultedDiffs>True</IgnoreLayoutResultedDiffs>
    <MaximumDiffNumberToReport>50</MaximumDiffNumberToReport>
    <UsePreDefinedRules>True</UsePreDefinedRules>
  </UserSettingsComparisonDefinition>
  <UserSettingsReplicationDefinition objectID="7">
    <DifferenceSeverityToPauseOn>Medium</DifferenceSeverityToPauseOn>
    <NeverPauseOnDifference>False</NeverPauseOnDifference>
  </UserSettingsReplicationDefinition>
  <UserSettingsSubtitles objectID="8">
    <SubtitlesOn>False</SubtitlesOn>
    <ForegroundColor>White</ForegroundColor>
    <BackgroundColor>Gray</BackgroundColor>
    <FontSize>20</FontSize>
    <Location>Bottom</Location>
    <Opacity>0.7</Opacity>
    <DisolveTime>0</DisolveTime>
    <OverrideLocation>-1</OverrideLocation>
  </UserSettingsSubtitles>
  <UserSettingsOpenBugDefinition objectID="9">
    <IncludeScreenshot>True</IncludeScreenshot>
    <IncludeMovie>False</IncludeMovie>
    <IncludeActualResults>True</IncludeActualResults>
    <IncludeSteps>False</IncludeSteps>
    <IncludeActions>False</IncludeActions>
    <DefectPreviewExpanded>True</DefectPreviewExpanded>
    <IncludeLogs>True</IncludeLogs>
    <IncludeVitals>True</IncludeVitals>
    <IncludeNVReport>True</IncludeNVReport>
  </UserSettingsOpenBugDefinition>
  <UserSettingsAnnotations objectID="10">
    <ArrowAnnotationLastUsedColor>Red</ArrowAnnotationLastUsedColor>
    <ArrowAnnotationLastUsedLineWidth>3</ArrowAnnotationLastUsedLineWidth>
    <RectangleAnnotationLastUsedColor>Red</RectangleAnnotationLastUsedColor>
    <RectangleAnnotationLastUsedLineWidth>3</RectangleAnnotationLastUsedLineWidth>
    <HighlightAnnotationLastUsedColor>Yellow</HighlightAnnotationLastUsedColor>
    <EllipseAnnotationLastUsedColor>Red</EllipseAnnotationLastUsedColor>
    <EllipseAnnotationLastUsedLineWidth>3</EllipseAnnotationLastUsedLineWidth>
    <TextBoxAnnotationLastUsedColor>NOTE_YELLOW_COLOR</TextBoxAnnotationLastUsedColor>
  </UserSettingsAnnotations>
  <UserSettingsOpenBCDefinition objectID="11">
    <SelectedColumns objectID="12" type="System.Collections.Generic.List`1[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib">
      <Elements isCollection="True" />
    </SelectedColumns>
    <Filter></Filter>
    <Size>
      <Width>0</Width>
      <Height>0</Height>
    </Size>
    <TreeWidth>150</TreeWidth>
    <TemplateOnly>False</TemplateOnly>
  </UserSettingsOpenBCDefinition>
  <UserSettingsOpenTestsDefinition objectID="13">
    <SelectedColumns objectID="14" type="System.Collections.Generic.List`1[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib">
      <Elements isCollection="True" />
    </SelectedColumns>
    <Filter></Filter>
    <Size>
      <Width>0</Width>
      <Height>0</Height>
    </Size>
    <TreeWidth>150</TreeWidth>
    <TemplateOnly>False</TemplateOnly>
  </UserSettingsOpenTestsDefinition>
  <UserSettingsOpenTestSetDefinition objectID="15">
    <SelectedColumns objectID="16" type="System.Collections.Generic.List`1[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib">
      <Elements isCollection="True" />
    </SelectedColumns>
    <Filter></Filter>
    <Size>
      <Width>0</Width>
      <Height>0</Height>
    </Size>
    <TreeWidth>150</TreeWidth>
    <TemplateOnly>False</TemplateOnly>
  </UserSettingsOpenTestSetDefinition>
  <UserSettingsSidebars objectID="17">
    <SidebarsSettings objectID="18" type="System.Collections.Generic.List`1[[HP.MirrorTesting.BL.Data.SidebarSettings, HP.Sprinter.BL.Data, Version=14.3.0.0, Culture=neutral, PublicKeyToken=null]], mscorlib">
      <Elements isCollection="True">
        <SidebarSettings objectID="19">
          <ID>0</ID>
          <Width>NaN</Width>
          <Height>NaN</Height>
          <Top>0</Top>
          <Bottom>0</Bottom>
          <Left>400</Left>
          <Right>0</Right>
          <ExpandDirection>Down</ExpandDirection>
          <IsExpanded>False</IsExpanded>
          <IsPinned>False</IsPinned>
        </SidebarSettings>
        <SidebarSettings objectID="20">
          <ID>1</ID>
          <Width>NaN</Width>
          <Height>NaN</Height>
          <Top>175</Top>
          <Bottom>0</Bottom>
          <Left>0</Left>
          <Right>0</Right>
          <ExpandDirection>Right</ExpandDirection>
          <IsExpanded>True</IsExpanded>
          <IsPinned>True</IsPinned>
        </SidebarSettings>
        <SidebarSettings objectID="21">
          <ID>2</ID>
          <Width>355</Width>
          <Height>250</Height>
          <Top>0</Top>
          <Bottom>0</Bottom>
          <Left>0</Left>
          <Right>25</Right>
          <ExpandDirection>Up</ExpandDirection>
          <IsExpanded>False</IsExpanded>
          <IsPinned>False</IsPinned>
        </SidebarSettings>
        <SidebarSettings objectID="22">
          <ID>3</ID>
          <Width>NaN</Width>
          <Height>NaN</Height>
          <Top>0</Top>
          <Bottom>0</Bottom>
          <Left>890</Left>
          <Right>0</Right>
          <ExpandDirection>Down</ExpandDirection>
          <IsExpanded>False</IsExpanded>
          <IsPinned>False</IsPinned>
        </SidebarSettings>
        <SidebarSettings objectID="23">
          <ID>4</ID>
          <Width>NaN</Width>
          <Height>NaN</Height>
          <Top>0</Top>
          <Bottom>0</Bottom>
          <Left>100</Left>
          <Right>0</Right>
          <ExpandDirection>Down</ExpandDirection>
          <IsExpanded>False</IsExpanded>
          <IsPinned>False</IsPinned>
        </SidebarSettings>
        <SidebarSettings objectID="24">
          <ID>5</ID>
          <Width>600</Width>
          <Height>350</Height>
          <Top>0</Top>
          <Bottom>0</Bottom>
          <Left>0</Left>
          <Right>410</Right>
          <ExpandDirection>Up</ExpandDirection>
          <IsExpanded>False</IsExpanded>
          <IsPinned>False</IsPinned>
        </SidebarSettings>
        <SidebarSettings objectID="25">
          <ID>6</ID>
          <Width>NaN</Width>
          <Height>NaN</Height>
          <Top>100</Top>
          <Bottom>0</Bottom>
          <Left>0</Left>
          <Right>0</Right>
          <ExpandDirection>Right</ExpandDirection>
          <IsExpanded>True</IsExpanded>
          <IsPinned>True</IsPinned>
        </SidebarSettings>
        <SidebarSettings objectID="26">
          <ID>7</ID>
          <Width>NaN</Width>
          <Height>NaN</Height>
          <Top>0</Top>
          <Bottom>0</Bottom>
          <Left>1100</Left>
          <Right>0</Right>
          <ExpandDirection>Down</ExpandDirection>
          <IsExpanded>False</IsExpanded>
          <IsPinned>False</IsPinned>
        </SidebarSettings>
        <SidebarSettings objectID="27">
          <ID>8</ID>
          <Width>NaN</Width>
          <Height>NaN</Height>
          <Top>0</Top>
          <Bottom>0</Bottom>
          <Left>400</Left>
          <Right>0</Right>
          <ExpandDirection>Down</ExpandDirection>
          <IsExpanded>False</IsExpanded>
          <IsPinned>False</IsPinned>
        </SidebarSettings>
        <SidebarSettings objectID="28">
          <ID>9</ID>
          <Width>400</Width>
          <Height>350</Height>
          <Top>0</Top>
          <Bottom>0</Bottom>
          <Left>0</Left>
          <Right>410</Right>
          <ExpandDirection>Up</ExpandDirection>
          <IsExpanded>False</IsExpanded>
          <IsPinned>False</IsPinned>
        </SidebarSettings>
      </Elements>
    </SidebarsSettings>
  </UserSettingsSidebars>
  <UserSettingsGeneralPreferences objectID="29">
    <ShowWelcomeScreenAtStartup>True</ShowWelcomeScreenAtStartup>
    <ShowPowerTestingWelcomeScreenOnActivating>True</ShowPowerTestingWelcomeScreenOnActivating>
    <ShowWelcomeScreen>False</ShowWelcomeScreen>
    <IsPowerTestingOn>False</IsPowerTestingOn>
    <NonPowerModeFalvor>Desktop</NonPowerModeFalvor>
    <LastViewedAut>PRE2 - R&amp;D Client</LastViewedAut>
    <GlobalHotKeysSettings objectID="30" type="System.Collections.Generic.List`1[[HP.MirrorTesting.BL.Data.GlobalHotKeyDefinition, HP.Sprinter.BL.Data, Version=14.3.0.0, Culture=neutral, PublicKeyToken=null]], mscorlib">
      <Elements isCollection="True">
        <GlobalHotKeyDefinition objectID="31">
          <ID>0</ID>
          <ModifierKeys>Alt</ModifierKeys>
          <Key>F5</Key>
        </GlobalHotKeyDefinition>
        <GlobalHotKeyDefinition objectID="32">
          <ID>1</ID>
          <ModifierKeys>Alt</ModifierKeys>
          <Key>F6</Key>
        </GlobalHotKeyDefinition>
        <GlobalHotKeyDefinition objectID="33">
          <ID>2</ID>
          <ModifierKeys>Alt</ModifierKeys>
          <Key>F7</Key>
        </GlobalHotKeyDefinition>
        <GlobalHotKeyDefinition objectID="34">
          <ID>3</ID>
          <ModifierKeys>Alt</ModifierKeys>
          <Key>F8</Key>
        </GlobalHotKeyDefinition>
        <GlobalHotKeyDefinition objectID="35">
          <ID>4</ID>
          <ModifierKeys>Alt</ModifierKeys>
          <Key>F12</Key>
        </GlobalHotKeyDefinition>
        <GlobalHotKeyDefinition objectID="36">
          <ID>5</ID>
          <ModifierKeys>Control</ModifierKeys>
          <Key>Back</Key>
        </GlobalHotKeyDefinition>
        <GlobalHotKeyDefinition objectID="37">
          <ID>6</ID>
          <ModifierKeys>Alt</ModifierKeys>
          <Key>Up</Key>
        </GlobalHotKeyDefinition>
        <GlobalHotKeyDefinition objectID="38">
          <ID>7</ID>
          <ModifierKeys>Control</ModifierKeys>
          <Key>F10</Key>
        </GlobalHotKeyDefinition>
      </Elements>
    </GlobalHotKeysSettings>
    <DefaultCulture>en</DefaultCulture>
    <DataInjectionRectangles objectID="39">
      <HorizontalSearch objectID="40">
        <Left>0</Left>
        <Right>220</Right>
        <Up>8</Up>
        <Down>15</Down>
      </HorizontalSearch>
      <VerticalSearch objectID="41">
        <Left>5</Left>
        <Right>15</Right>
        <Up>0</Up>
        <Down>35</Down>
      </VerticalSearch>
      <OppositeSideHorizontalSearch objectID="42">
        <Left>30</Left>
        <Right>0</Right>
        <Up>8</Up>
        <Down>15</Down>
      </OppositeSideHorizontalSearch>
      <SafetyBufferForIntersectionSearch>5</SafetyBufferForIntersectionSearch>
      <PrefferedMappingType>NotSet</PrefferedMappingType>
    </DataInjectionRectangles>
    <WorkingMode>Execution</WorkingMode>
    <EnableAnimations>False</EnableAnimations>
    <LicensingMode>ALM</LicensingMode>
  </UserSettingsGeneralPreferences>
  <UserSettingsSavingDefinition objectID="43">
    <SavingImagesMethod>SavingAllImagesSinceLastPass</SavingImagesMethod>
    <MaxFilesNumberInZipFile>10</MaxFilesNumberInZipFile>
    <EnableMovieRecording>True</EnableMovieRecording>
    <ImageResizePercentage>100</ImageResizePercentage>
    <ImageQualityPercentage>30</ImageQualityPercentage>
  </UserSettingsSavingDefinition>
  <UserSettingsNotificationsDefinition objectID="44">
    <DoNotShowDINotificationDialog>False</DoNotShowDINotificationDialog>
    <DoNotShowMacroNotificationDialog>False</DoNotShowMacroNotificationDialog>
    <DoNotShowJavaEnablerNotificationDialog>False</DoNotShowJavaEnablerNotificationDialog>
    <DoNotShowLinkRequirementWarning>False</DoNotShowLinkRequirementWarning>
  </UserSettingsNotificationsDefinition>
  <UserSettingsGridSettingsDefinition objectID="45">
    <GridSettings objectID="46">
      <Elements isCollection="True" />
    </GridSettings>
  </UserSettingsGridSettingsDefinition>
  <UserSettingsAutoAuthoringSettings objectID="47">
    <InsertUserActionToItsOwnStep>False</InsertUserActionToItsOwnStep>
    <StepTargetField>Description</StepTargetField>
  </UserSettingsAutoAuthoringSettings>
  <UserSettingsLicensingDefinition objectID="48">
    <WizardWasShown>False</WizardWasShown>
  </UserSettingsLicensingDefinition>
  <UserSettingsDTSDefinition objectID="49">
    <AvailableDTSConnectionSettings objectID="50" type="System.Collections.Generic.List`1[[HP.MirrorTesting.BL.Data.UserSettingsDTSDefinition+DTSConnectionSettings, HP.Sprinter.BL.Data, Version=14.3.0.0, Culture=neutral, PublicKeyToken=null]], mscorlib">
      <Elements isCollection="True">
        <DTSConnectionSettings objectID="51">
          <Name>Mail</Name>
          <Url isNull="True" />
          <Username isNull="True" />
          <ProjectSettings isNull="True" />
          <ReconnectOnStartup>False</ReconnectOnStartup>
          <EncryptedPassword isNull="True" />
        </DTSConnectionSettings>
      </Elements>
    </AvailableDTSConnectionSettings>
    <SelectedDTSConnectionSettings cyclicReferenceObjectID="51" />
    <SelectedDTSName>Mail</SelectedDTSName>
  </UserSettingsDTSDefinition>
  <UserSettingsMobileDefinition objectID="52">
    <SelectedMobileConnectionSettings objectID="53">
      <Url isNull="True" />
      <Username isNull="True" />
      <ProxyInfo objectID="54">
        <Type>No</Type>
        <Address isNull="True" />
        <Authorization isNull="True" />
      </ProxyInfo>
      <EncryptedPassword isNull="True" />
      <ReconnectOnStartup>False</ReconnectOnStartup>
      <UseSSL>False</UseSSL>
    </SelectedMobileConnectionSettings>
  </UserSettingsMobileDefinition>
  <UserSettingsOctaneDefinition objectID="55">
    <ConnectionSettings objectID="56">
      <Url isNull="True" />
      <Username isNull="True" />
      <EncryptedPassword isNull="True" />
      <SharedSpace isNull="True" />
      <Workspace isNull="True" />
    </ConnectionSettings>
  </UserSettingsOctaneDefinition>
  <AllSections objectID="57" type="System.Collections.Generic.List`1[[HP.MirrorTesting.BL.Data.IUserSettingsSectionDefinition, HP.Sprinter.BL.Data, Version=14.3.0.0, Culture=neutral, PublicKeyToken=null]], mscorlib">
    <Elements isCollection="True">
      <UserSettingsQualityCenterConnectionDefinition cyclicReferenceObjectID="1" />
      <UserSettingsTestDefinition cyclicReferenceObjectID="4" />
      <UserSettingsRunTimeDefinition cyclicReferenceObjectID="5" />
      <UserSettingsComparisonDefinition cyclicReferenceObjectID="6" />
      <UserSettingsReplicationDefinition cyclicReferenceObjectID="7" />
      <UserSettingsSubtitles cyclicReferenceObjectID="8" />
      <UserSettingsOpenBugDefinition cyclicReferenceObjectID="9" />
      <UserSettingsAnnotations cyclicReferenceObjectID="10" />
      <UserSettingsOpenBCDefinition cyclicReferenceObjectID="11" />
      <UserSettingsOpenTestsDefinition cyclicReferenceObjectID="13" />
      <UserSettingsOpenTestSetDefinition cyclicReferenceObjectID="15" />
      <UserSettingsSidebars cyclicReferenceObjectID="17" />
      <UserSettingsGeneralPreferences cyclicReferenceObjectID="29" />
      <UserSettingsSavingDefinition cyclicReferenceObjectID="43" />
      <UserSettingsNotificationsDefinition cyclicReferenceObjectID="44" />
      <UserSettingsGridSettingsDefinition cyclicReferenceObjectID="45" />
      <UserSettingsAutoAuthoringSettings cyclicReferenceObjectID="47" />
      <UserSettingsLicensingDefinition cyclicReferenceObjectID="48" />
      <UserSettingsDTSDefinition cyclicReferenceObjectID="49" />
      <UserSettingsMobileDefinition cyclicReferenceObjectID="52" />
      <UserSettingsOctaneDefinition cyclicReferenceObjectID="55" />
    </Elements>
  </AllSections>
</UserSettingsDefinition>